// https://m3.material.io/components/buttons/specs

// reset
button.sd-button {
    border: none;
}

// common

.sd-button {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect

    &[disabled],
    &[data-sd-disabled='true'] {
        color: var(--sd-sys-color-on-surface);
        opacity: 0.38;
        pointer-events: none;
    }

    // elevated

    &-elevated {
        background: var(--sd-sys-color-surface-container-low);
        color: var(--sd-sys-color-primary);
        @include elevation-level1;

        &:hover {
            opacity: 0.8;
            color: var(--sd-sys-color-primary);
            @include elevation-level2;
        }

        &:active {
            opacity: unset;
            filter: brightness(95%);
        }
    }

    // filled

    &-filled {
        background: var(--sd-sys-color-primary);
        color: var(--sd-sys-color-on-primary);

        &:hover {
            @include elevation-level1;
        }
        &:active {
            box-shadow: unset;
            filter: contrast(120%);
        }
    }

    // outlined

    &-outlined {
        color: var(--sd-sys-color-primary);
        background: var(--sd-sys-color-surface);
        outline: var(--sd-sys-color-outline) 1px solid;

        &:hover {
            filter: brightness(96%);
        }

        &:active {
            filter: brightness(92%);
        }
    }

    // tonal

    &-tonal {
        color: var(--sd-sys-color-on-secondary-container);
        background: var(--sd-sys-color-secondary-container);

        &:hover {
            @include elevation-level1;
            filter: brightness(96%);
        }

        &:active {
            filter: brightness(92%);
        }
    }

    // text

    &-text {
        color: var(--sd-sys-color-primary);
        background-color: transparent;

        // TODO: this should be primary color background with opacity layer
        // here just simply use a grey color instead
        &:hover {
            background: rgb(0 0 0 / 0.04);
        }

        &:active {
            background: rgb(0 0 0 / 0.08);
        }
    }
}
