.sd-icon_ripple_button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect
    transition: all 200ms;
    --size: 24px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-ripple {
        position: absolute;
        overflow: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--size) * 1.666666);
        height: calc(var(--size) * 1.666666);
        clip-path: circle(50%);
        border-radius: 50%;
        transition: all 200ms;
        > div {
            width: 100%;
            height: 100%;
        }
    }
}

@media (any-hover: hover) {
    .sd-icon_ripple_button-ripple:hover {
        @include background-hover(var(--md-sys-color-primary));
    }
}
