.sd-select {
    // max-width: 280px;

    &_options[class /* Just for raise the priority */] {
        /* ul: container of option */
        display: block;
        box-sizing: border-box;
        overflow-y: auto;
        overscroll-behavior: contain;
        // scrollbar
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--md-sys-color-outline);
        }
    }

    &_option {
        /* li */
        &-selected[class] {
            background: var(--md-sys-color-tertiary-container);

            @supports (color: hsl(from white h s l)) {
                &:hover {
                    background: hsl(
                        from var(--md-sys-color-tertiary-container) h s
                            calc(l - 0.02)
                    );
                }
            }
        }
    }
}

// default children
.sd-select-menu_button {
    overflow: hidden;
    display: inline-block;
    padding: 0.5rem 0;
    align-items: center;
    cursor: pointer;
    transition: all 200ms;
    word-break: keep-all;
    font-size: 14px;
    user-select: none;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect

    @media (any-hover: hover) {
        &:hover {
            background: rgb(0 0 0 / 0.04);
        }
    }

    &-label {
        flex-shrink: 1;
        display: inline-flex;
        gap: 0.15rem;
        color: var(--md-sys-color-on-surface-variant);
        border-bottom: solid 1px var(--md-sys-color-outline);
    }
}
