.sd-select {
    // max-width: 280px;

    &_options[class /* Just for raise the priority */] {
        /* ul: container of option */
        display: block;
        box-sizing: border-box;
        overflow-y: auto;
        overscroll-behavior: contain;
        // hide scrollbar
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_option {
        /* li */
        &-selected[class] {
            background: var(--md-sys-color-tertiary-container);

            @supports (color: hsl(from white h s l)) {
                &:hover {
                    background: hsl(
                        from var(--md-sys-color-tertiary-container) h s
                            calc(l - 0.02)
                    );
                }
            }
        }
    }
}
