// https://m3.material.io/components/tabs/specs

.sd-tabs {
    display: inline-flex;
    width: max-content;
    max-width: 100%;
    background: var(--md-sys-color-surface);
    overflow-x: auto;

    position: relative; // for &-active_indicator
    transition: all 200ms;

    // hide the scrollbar
    scrollbar-width: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect
    &::-webkit-scrollbar {
        display: none;
    }

    &-item {
        flex-shrink: 0;
        background: var(--md-sys-color-surface);
        user-select: none;
        cursor: pointer;
        overflow: hidden;
        padding: 0.5rem 1rem;
        padding-bottom: 0.8rem; // for indicator
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;

        @media (any-hover: hover) {
            &:hover {
                @include background-hover(var(--md-sys-color-primary));
            }
        }

        &:active {
            @include background-pressed(var(--md-sys-color-primary));
        }

        &:focus-visible {
            outline: none;
            @include background-focus(var(--md-sys-color-primary));
        }

        &-icon {
            transition: all 200ms;

            svg {
                height: 20px;
                display: grid;
                place-items: center;
            }
        }

        &-label_text {
            transition: all 200ms;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            -webkit-text-stroke: 0.1px currentColor;
        }

        &[data-sd-active='true'] {
            // selected
            * {
                color: var(--md-sys-color-primary);
            }
        }

        &[disabled],
        &[data-sd-disabled='true'] {
            color: var(--md-sys-color-on-surface);
            opacity: 0.38;
            pointer-events: none;
        }
    }

    &-active_indicator {
        transition: left 200ms;
        position: absolute;
        height: 6px; // height 6px, we hide 3px, leaving 3px to display
        width: 36px;
        border-radius: 12px;
        background: var(--md-sys-color-primary);
        bottom: -3px;
        // left: calc in js
    }

    &[data-sd-variant='primary'] {
        .sd-tabs-active_indicator {
            clip-path: inset(0 0 50% 0);
        }
    }

    &[data-sd-variant='secondary'] {
        .sd-tabs-active_indicator {
            // width: calc in js
            border-radius: 0;
            height: 2.5px;
            bottom: 0;
        }
    }

    &[data-sd-variant='block'] {
        --radius: 8px;
        border-radius: var(--radius);
        overflow: hidden;
        background-color: var(--md-sys-color-surface-container-highest);

        .sd-tabs-item {
            z-index: 1;
            background-color: transparent;
            padding-bottom: 0.5rem; // reset

            &:focus-visible {
                outline: none;
                @include background-focus(var(--md-sys-color-primary));
            }
        }

        .sd-tabs-active_indicator {
            inset: 0;
            transform: scale(0.95, 0.9);
            height: 100%;
            width: 100%;
            border-radius: var(--radius);
            background-color: var(--md-sys-color-background);
            box-shadow:
                1px 1px rgba(0 0 0 / 0.08),
                -1px -1px rgba(0 0 0 / 0.04);
        }
    }

    &[data-sd-variant='text'] {
        --radius: 8px;
        overflow: hidden;
        background-color: unset;

        .sd-tabs-item {
            border-radius: var(--radius);
            background-color: transparent;
            padding-bottom: 0.5rem; // reset

            &[data-sd-active='false'] > .sd-tabs-item-label_text {
                color: var(--md-sys-color-outline);
            }
            &:focus-visible {
                outline: none;
                @include background-focus(var(--md-sys-color-primary));
            }
        }
        .sd-tabs-active_indicator {
            display: none;
        }
    }

    &[data-sd-variant='rounded'] {
        --radius: 16px;
        border-radius: var(--radius);
        overflow: hidden;
        background-color: unset;

        .sd-tabs-item {
            background-color: transparent;
            z-index: 1;
            padding-bottom: 0.5rem; // reset

            .sd-tabs-item-label_text {
                font-weight: 400;
                color: var(--md-sys-color-on-secondary-container);
            }
            &[data-sd-active='false'] > .sd-tabs-item-label_text {
                color: var(--md-sys-color-outline);
            }

            &:focus-visible {
                outline: none;
                @include background-focus(var(--md-sys-color-primary));
            }
        }

        .sd-tabs-active_indicator {
            inset: 0;
            transform: scale(0.95, 0.9);
            height: 100%;
            width: 100%;
            border-radius: var(--radius);
            background: var(--md-sys-color-secondary-container);
        }
    }
}
