// https://m3.material.io/components/switch/specs

.sd-switch {
    @include outline;
    border-width: 2px;
    padding: 0.25rem;
    box-sizing: content-box;
    width: 2rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1.25rem;
    background: var(--md-sys-color-surface-container-highest);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect
    transition: all 200ms;
    position: relative;

    &-movable {
        // movable is an element that just can hold the thumb
        left: 0.25rem;
        transition: all 200ms;
        @include position-absolute(
            0.25rem /* space for the padding-left width */,
            50%
        );
        transform: translateY(-50%);
    }

    &-movable,
    &-thumb,
    &-thumb::after {
        width: 1rem;
        height: 1rem;
    }

    &-thumb {
        // the thumb itself
        &::after {
            content: '';
            display: inline-block;
            border-radius: 50%;
            background: var(--md-sys-color-outline);
            @include position-absolute(0, 0);
            transition: all 200ms;
        }
    }

    &-thumb::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: rgb(0 0 0 / 0.1);
        @include position-absolute(50%, 50%);
        transform: translate(-50%, -50%);
        transition: all 200ms;
        opacity: 0;
    }

    &:hover,
    &:focus-visible {
        outline: none;
        // the border
        .sd-switch-thumb::before {
            opacity: 1;
        }
    }
    &:active {
        .sd-switch-thumb::after {
            transform: scale(150%);
        }
    }

    &[data-sd-checked='true'] {
        background: var(--md-sys-color-primary);
        border-color: var(--md-sys-color-primary);
        .sd-switch-movable {
            left: 50%;
        }
        .sd-switch-thumb::after {
            background: var(--md-sys-color-on-primary);
        }
    }

    &-icon {
        color: var(--md-sys-color-surface-container-highest);
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        @include position-absolute(50%, 50%);
        transform: translate(-50%, -50%);
        user-select: none;
    }
    &[data-sd-checked='true'] &-icon {
        color: var(--md-sys-color-on-surface);
    }

    &[data-sd-disabled='true'] {
        pointer-events: none;
        filter: grayscale(98%) opacity(40%);
    }
}
