$background: var(--sd-sys-color-surface-container-low);

.sd-select-button {
    all: unset;
    font-size: 15px;
    padding: 12px 10px;
    line-height: 1;
    background: $background;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background: var(--sd-sys-color-surface-container-highest);
    }

    &:focus-visible {
        background: var(--sd-sys-color-surface-container-highest);
    }
}

.sd-select {
    background: $background;
    font-size: 15px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 1px, rgb(0 0 0 / 3%) 0px 100px 80px,
        rgb(0 0 0 / 2%) 0px 41.7776px 33.4221px,
        rgb(0 0 0 / 2%) 0px 22.3363px 17.869px,
        rgb(0 0 0 / 4%) 0px 12.5216px 10.0172px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-width: none;
    padding: 5px;
    outline: 0;
    user-select: none;
    width: 160px;

    &::-webkit-scrollbar {
        display: none;
    }

    button.sd-select-item {
        all: unset;
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 12px 10px;
        border-radius: 5px;
        box-sizing: inherit;
        user-select: none;
        line-height: 1;
        scroll-margin: 50px;
    }

    button.sd-select-active_item {
        background: rgb(0 0 0 / 0.06);
    }

    button.sd-select-selected_item {
        color: var(--sd-sys-color-on-primary);
        background: var(--sd-sys-color-primary);
    }
}

.sd-select-scroll_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    cursor: default;
    font-size: 12px;
    line-height: 1;
    height: 25px;
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 100%;

    &::before {
        content: '';
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        position: absolute;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }

    &[data-sd-dir='up']::before {
        background: linear-gradient(to bottom, $background 50%, transparent);
        border-radius: 8px 8px 0 0;
        top: 0;
    }

    &[data-sd-dir='down']::before {
        background: linear-gradient(to top, $background 50%, transparent);
        border-radius: 0 0 8px 8px;
        top: -10px;
    }

    &[data-sd-dir='up'] {
        top: 0;
    }

    &[data-sd-dir='down'] {
        bottom: 0;
    }
}
