// https://m3.material.io/components/cards/specs

.sd-card {
    // common
    border-radius: 12px;
    transition: all 0.2s;
    overflow: hidden;

    // elevated

    &-elevated {
        background: var(--md-sys-color-surface-container-low);
        @include elevation-level1;
        @media (any-hover: hover) {
            &:hover {
                @include elevation-level2;
            }
        }
    }

    // filled

    &-filled {
        background: var(--md-sys-color-surface-container-highest);
        @media (any-hover: hover) {
            &:hover {
                @include elevation-level1;
            }
        }
    }

    // outlined

    &-outlined {
        background: var(--md-sys-color-surface);
        @include outline;
    }
}
