// https://m3.material.io/components/snackbar/specs

.sd-snakebar {
    background: var(--sd-sys-color-inverse-surface);
    color: var(--sd-sys-color-inverse-on-surface);
    @include elevation-level3;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 4px;
    font-size: small;
    padding: 0 8px 0 12px;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect

    &-supporting_text {
        flex-shrink: 1;
        color: var(--sd-sys-color-inverse-on-surface);
        margin: 12px 16px 12px 0;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
    }
    &-action {
        flex-shrink: 0;
        user-select: none;
    }
    &-icon {
        flex-shrink: 0;
        color: var(--sd-sys-color-inverse-on-surface);
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 8px;
        cursor: pointer;
    }
}
