// https://m3.material.io/styles/color/the-color-system/tokens

:root {
    --md-sys-color-primary: #6750a4;
    --md-sys-color-primary-container: #eaddff;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-container: #21005e;
    --md-sys-color-inverse-primary: #d0bcff;
    --md-sys-color-secondary: #625b71;
    --md-sys-color-secondary-container: #e8def8;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-on-secondary-container: #1e192b;
    --md-sys-color-tertiary: #7d5260;
    --md-sys-color-tertiary-container: #ffd8e4;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-on-tertiary-container: #370b1e;
    --md-sys-color-surface: #fef7ff;
    --md-sys-color-surface-dim: #ded8e1;
    --md-sys-color-surface-bright: #fef7ff;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f7f2fa;
    --md-sys-color-surface-container: #f3edf7;
    --md-sys-color-surface-container-high: #ece6f0;
    --md-sys-color-surface-container-highest: #e6e0e9;
    --md-sys-color-surface-variant: #e7e0ec;
    --md-sys-color-on-surface: #1c1b1f;
    --md-sys-color-on-surface-variant: #49454e;
    --md-sys-color-inverse-surface: #313033;
    --md-sys-color-inverse-on-surface: #f4eff4;
    --md-sys-color-background: #fef7ff;
    --md-sys-color-on-background: #1c1b1f;
    --md-sys-color-error: #b3261e;
    --md-sys-color-error-container: #f9dedc;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-on-error-container: #410e0b;
    --md-sys-color-outline: #79747e;
    --md-sys-color-outline-variant: #c4c7c5;
    --md-sys-color-shadow: #000000;
    --md-sys-color-surface-tint-color: #6750a4;
    --md-sys-color-scrim: #000000;
}
