body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

:root {
    font-family: 'Google Sans', Roboto, system-ui, -apple-system, Tahoma, Arial,
        sans-serif;
    font-size: 16px;
}
