@import './global/index.scss';

.sd-text_fields {
    background: var(--sd-sys-color-surface-container-highest);
    cursor: text;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.75rem 0.5rem;
    display: flex;

    &-leading_icon {
        font-size: 20px;
        margin-right: 0.5rem;
    }

    &-trailing_icon {
        font-size: 20px;
        margin-left: 0.5rem;
    }

    &-supporting_text {
        font-size: 0.5rem;
    }

    position: relative;

    &-active_indicator {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        display: block;

        &::before,
        &::after {
            content: '';
            display: block;
            height: 1px;
        }
    }
}

$label_text_empty_size: 1rem;
$label_text_populated_size: 0.5rem;
$label_text_gap_size: 0.2rem;

.sd-text_fields .sd-text_fields-helper {
    position: relative;
    width: 100%;
    height: $label_text_empty_size + $label_text_populated_size;

    .sd-text_fields-label_text {
        display: block;
        width: fit-content;
        position: absolute;
        transition: all 200ms;
    }

    input {
        all: unset;
        position: absolute;
        flex-grow: 1;
        height: 1rem;
    }
}

// label_text
.sd-text_fields[data-sd-label_text='empty'] {
    .sd-text_fields-helper {
        .sd-text_fields-label_text {
            top: 50%;
            transform: translateY(-50%);
            line-height: $label_text_empty_size;
            font-size: $label_text_empty_size;
            color: var(--sd-sys-color-on-surface-variant);
        }
        input {
            top: 0;
        }
    }

    .sd-text_fields-active_indicator {
        &::before {
            background: var(--sd-sys-color-on-surface-variant);
        }
        &::after {
            background: transparent;
        }
    }
}

// label_text
.sd-text_fields[data-sd-label_text='populated'] {
    .sd-text_fields-helper {
        .sd-text_fields-label_text {
            top: 0;
            line-height: $label_text_populated_size;
            font-size: $label_text_populated_size;
            color: var(--sd-sys-color-primary);
        }
        input {
            top: $label_text_populated_size + $label_text_gap_size;
        }
    }

    .sd-text_fields-active_indicator {
        &::before,
        &::after {
            background: var(--sd-sys-color-primary);
        }
    }
}

// input_text
.sd-text_fields[data-sd-input_text='disabled'] {
    filter: grayscale(100%);
    opacity: 0.3;
    cursor: not-allowed;
}
