@mixin display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display-inline-flex-center {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@mixin position-absolute($left: 0, $top: 0) {
    position: absolute;
    left: $left;
    top: $top;
}

@mixin disable-browser-drag {
    // just use `user-select: none;` for normal cases
    touch-action: none;
    user-select: none;

    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror HTML */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
    user-drag: none; /* Standard syntax */

    -webkit-touch-callout: none; /* iOS Safari */
}

@mixin scrollbar($width: 4px, $color: var(--md-sys-color-outline)) {
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $width * 2;
        background-color: $color;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: $color transparent;
    }
}

.sd-scrollbar {
    @include scrollbar;
}
