@keyframes sd-kf-fade_in {
    from {
        opacity: 0;
    }
}

@keyframes sd-kf-fade_out {
    to {
        opacity: 0;
    }
}

@keyframes sd-kf-slide_to_right {
    to {
        transform: translateX(30px);
    }
}

@keyframes sd-kf-slide_from_left {
    from {
        transform: translateX(-30px);
    }
}

@keyframes sd-kf-slide_to_left {
    to {
        transform: translateX(-30px);
    }
}

@keyframes sd-kf-slide_from_right {
    from {
        transform: translateX(30px);
    }
}

.sd-vt-slide_right_to_left {
    view-transition-name: sd-vt-slide_right_to_left;
}

::view-transition-old(sd-vt-slide_right_to_left) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both sd-kf-fade_out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both sd-kf-slide_to_left;
}

::view-transition-new(sd-vt-slide_right_to_left) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both sd-kf-fade_in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both sd-kf-slide_from_right;
}

.sd-vt-slide_left_to_right {
    view-transition-name: sd-vt-slide_left_to_right;
}

::view-transition-old(sd-vt-slide_left_to_right) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both sd-kf-fade_out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both sd-kf-slide_to_right;
}

::view-transition-new(sd-vt-slide_left_to_right) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both sd-kf-fade_in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both sd-kf-slide_from_left;
}
