// https://m3.material.io/components/checkbox/specs

.sd-checkbox {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect
    transition: all 200ms;
    position: relative;
    @include display-inline-flex-center;

    &-icon {
        display: inline-block;
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        @include outline;
        border-width: 2px;
        color: var(--md-sys-color-surface-container-highest);
    }
    &:active .sd-checkbox-icon {
        border: 2px solid var(--md-sys-color-primary);
    }

    &-ripple {
        overflow: hidden;
        @include position-absolute(50%, 50%);
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        clip-path: circle(50%);
        border-radius: 50%;
        transition: all 200ms;
        @media (any-hover: hover) {
            &:hover {
                @include background-hover(var(--md-sys-color-primary));
            }
        }
        > * {
            // make the ripple full size
            display: block;
            height: 100%;
        }
    }
    &:focus-visible {
        outline: none;
        .sd-checkbox-ripple {
            @include background-focus(var(--md-sys-color-primary));
        }
    }

    &[data-sd-checked='true'] &-icon {
        background: var(--md-sys-color-primary);
        border: 2px solid var(--md-sys-color-primary);
    }

    &[data-sd-checked='true'][data-sd-error='true'] &-icon {
        background: var(--md-sys-color-error);
        border: 2px solid var(--md-sys-color-error);
    }

    &[data-sd-disabled='true'] {
        pointer-events: none;
        filter: grayscale(98%) opacity(40%);
    }
}
