// https://m3.material.io/components/dialogs/specs

.sd-dialog {
    z-index: 2;
    background: var(--sd-sys-color-surface-container-high);
    @include elevation-level3;
    width: fit-content;
    border-radius: 28px;
    min-width: 280px;
    max-width: 560px;
    max-height: 100vh;

    &-headline {
        margin: 1.5rem 1.5rem 1rem;
        // default style
        font-size: x-large;
    }
    &-body {
        margin: 1.5rem;
        color: var(--sd-sys-color-on-surface-variant);
    }
    &-buttons {
        margin: 1.5rem;
        text-align: right;
    }
}

.sd-dialog-scrim {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    @include display-flex-center;
    pointer-events: none;
}

.sd-dialog-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--sd-sys-color-surface-container-high);
    overflow: auto;

    &-header {
        height: 56px;
        margin: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-close {
        cursor: pointer;
        flex-shrink: 0;
    }
    &-headline {
        flex-shrink: 1;
        margin: 0 1rem;
        font-size: x-large;
        margin-right: auto;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-body {
        margin: 1.5rem;
    }
}
