@import url('https://fonts.loli.net/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
.docs-story,
.docs-story *,
.sb-unstyled {
    font-family:
        'Google Sans',
        Roboto,
        system-ui,
        -apple-system,
        Tahoma,
        Arial,
        sans-serif;
}

pre {
    &,
    * {
        font-size: 15px;
        font-family:
            Consolas,
            Courier,
            Courier New,
            monospace !important;
    }
    .token.operator {
        background: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    .docs-story > * {
        background: Canvas !important;
    }
}
