// https://m3.material.io/components/chips/specs

.sd-chip {
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect
    transition: all 200ms;

    &:has(&-leading_icon) {
        padding-inline-start: 0.25rem;
        padding-inline-end: 0.5rem;
    }
    &:has(&-trailing_icon) {
        padding-inline-start: 0.5rem;
    }

    .sd-chip-label_text {
        flex-shrink: 0;
        margin: 0.25rem 0.5rem;
    }
    .sd-chip-leading_icon,
    .sd-chip-trailing_icon {
        flex-shrink: 0;
        color: var(--md-sys-color-primary);
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        border-radius: 1rem;
    }

    &-outlined {
        @include outline;
        border-width: 1.25px;
        &[data-sd-disabled='true'] {
            filter: grayscale(98%) opacity(40%);
        }
        &[data-sd-disabled='false'] {
            @media (any-hover: hover) {
                &:hover {
                    @include background-hover(var(--md-sys-color-primary));
                }
            }
            &:active {
                @include background-pressed(var(--md-sys-color-primary));
            }
        }
    }

    &-tonal {
        border: 1.25px solid var(--md-sys-color-surface-container-high);
        background: var(--md-sys-color-surface-container-high);
        color: var(--md-sys-color-on-surface);
        &[data-sd-disabled='true'] {
            filter: grayscale(98%) opacity(60%);
        }
        &[data-sd-disabled='false'] {
            @media (any-hover: hover) {
                &:hover {
                    filter: brightness(96%);
                }
            }
            &:active {
                filter: brightness(92%);
            }
        }
    }
}
