// https://m3.material.io/components/date-pickers/specs

.sd-date_picker {
    display: flex;
    flex-direction: column;
    width: min(360px, 100%);
    align-items: stretch;
    position: relative;

    &-docked {
        position: absolute;
        z-index: 2;
        background: var(--md-sys-color-surface-container-high);
        border-radius: 2rem;
        padding: 0 4px;
        width: 100%;
        overflow: hidden;

        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            margin-top: 20px;
        }

        &_body {
            margin-top: 10px;
            overflow: hidden;
        }

        &_footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 12px;
        }
    }
}
