// https://m3.material.io/components/snackbar/specs

.sd-snackbar {
    background: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    @include elevation-level3;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 4px;
    font-size: small;
    padding: 0 8px 0 12px;
    -webkit-tap-highlight-color: transparent; // remove webkit blue tap effect

    &-supporting_text {
        flex: 1;
        color: var(--md-sys-color-inverse-on-surface);
        margin: 12px 16px 12px 0;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;

        &:empty {
            height: 16px;
        }
    }
    &-action {
        flex-shrink: 0;
        user-select: none;
    }
    &-icon {
        flex-shrink: 0;
        color: var(--md-sys-color-inverse-on-surface);
        cursor: pointer;
        box-sizing: border-box !important;
        width: 32px !important;
        height: 32px !important;
        border-radius: 50% !important;
        padding: 0 !important;

        svg {
            color: var(--md-sys-color-inverse-on-surface);
            width: 20px;
            vertical-align: middle;
            margin: 0 auto;
        }
    }

    &[data-sd-third_line] {
        flex-direction: column;
        padding-block-end: 8px;
        .sd-snackbar-action {
            align-self: flex-end;
        }
        .sd-snackbar-icon {
            display: none;
        }
    }
}

// the holder

.sd-snackbar_holder {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1.5rem;

    &-full {
        padding: 0;
    }

    .sd-snackbar {
        display: flex;
    }

    @media screen and (min-width: 600px) {
        :not(.sd-snackbar_holder-full) .sd-snackbar {
            width: 400px;
        }

        &-placement {
            &_left .sd-snackbar {
                float: left;
            }
            &_right .sd-snackbar {
                float: right;
            }
            &_center .sd-snackbar {
                margin: 0 auto;
            }
        }
    }
}

.sd-snackbar_holder .sd-snackbar_holder-full > .sd-snackbar {
    border-radius: 0;
}
